*{
    margin:0;
}

body header section ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.header{
    width: 100%;
}

.logo{
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.navbar{
    width: 100%;
    height: 44px;
    position: fixed;
    background: #FFFFFF;
    z-index: 100;
}
.navbar-header{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
}

.open-close{
    font-size: 16px;
    color: black;
    padding: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    background: #0000EC;
    z-index: 10;
    margin: 0;
}

.navbar-link{
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 16px;
}
.navbar-link:hover{
    text-decoration: line-through;
    color: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 16px;
}
.navbar-link:active{
    text-decoration: line-through;
    color: #060A24;
    opacity: 56%;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 16px;
}

#navbar-header:target .navbar-container{
    height: 224px;
}
#navbar-header:target .menu_open{
    display: none;
}
#navbar-header:target .menu_close{
    display: flex;
}
.menu_close{
    display: none;
}

/*Título header*/

.title{
    position: relative;
    top: 44px;
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 29px 42px 42px 16px 66px 36px 48px 24px;
    grid-template-areas: 
    ". . ."
    ". hello-world ."
    ". palebd_mobil ."
    ". . ."
    ". texto_titular ."
    ". . ."
    ". boton_conocemas ."
    ". . .";
}
.hello-world{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-area: hello-world;

}
.palebd_mobil{
    grid-area: palebd_mobil;
}
.texto_titular_pc{
    display: none;
}
.texto_titular{
    grid-area: texto_titular;
}
.boton_conocemas{
    grid-area:  boton_conocemas;
}
h1{
    display: grid;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #060A24;
    padding: 0;
    opacity: 100%;
}
span{
    margin: 0;
    padding: 0;
}

.hello-world{
    height: 42px;
    width: 186px;
    display: grid;
}
.palebd_mobil{
    height: 42px;
    width: 222px;
}
.palebd{
    display: none;
}
.cross{
    text-decoration: line-through;
    margin-left: 7px;
}
.dot{
    height: 42px;
    width: 5px;
    justify-content: flex-end;
}
.texto_titular{
    display: grid;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    width: 288px;
    height: 66px;
    line-height: 22px;
}

.boton_conocemas{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    color: #060A24;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    background: #00F3BB;
    border:none;
}
.boton_conocemas:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    color: white;
    background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
    border:none;
   
}

/*episodios*/


.container_episodios{
    position: absolute;
    top: 347px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1203.5px;
 
}
.skew{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform-origin: top left;
    margin-top: 38px;
    transform: skewY(-5deg);
    width: 100%;
    z-index: -2;
    height: 96.7%;
    background-image: linear-gradient(98deg, rgba(0,0,163,1) 45%, rgba(0,0,255,1) 100%);
}
h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-left: 16px;
}    

main section .container_episodios h2{
    color: #FFFFFF;
    width: 157px;
    height: 42px;
    left: 16px;
    top: 64px;
    bottom: 21px;
    position: absolute;
}

iframe{
    width: unset;
    margin-left: 11px;
    margin-right: 11px;
    border: none;
}
.if1{
    margin-top: 127px;
    margin-bottom: 11px;
}
.if2,
.if3{
    margin-bottom: 11px;
}

/* sección nosotros*/

.container_nosotros{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 850.5px;
    width: 100%;
    top: 1550px;
}
.imgphone{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: -95.5px;
    margin-right: auto;
    margin-left: auto;
}
.title_nosotros{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    width: 288px;
    height: 84px;
    margin-left: 16px;
    margin-top: 27px;
    line-height: 42px;
}
.texto_nosotros{
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    width: 288px;
    height: 254px;
    line-height: 22px;
    margin-left: 16px;
    margin-top: 8px;
}

/* sección entrevistas*/

.container_entevistas{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1711px;
    top: 2480px;
}

.img{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    height: 269px;
    width: 100%;
}

.title_entrevistas{
    color: #060A24;
    width: 288px;
    height: 84px;
    margin-bottom: 14px;
}

/*topicos*/
.container_topicos{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1018px;
    top: 4196px;
}
.title_topicos{
    color: #060A24;
    width: 288px;
    height: 84px;
    margin-top: 48px;
    margin-bottom: 37px;
}
main .container_topicos h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #060A24;
}

.temas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-top: 13px;
    margin-bottom: 60px;
    text-align: center;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 104px;
    height: 104px;
    margin-left: auto;
    margin-right: auto;
}

/*sección conoce más*/
.container_novedades{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 341px;
    width: 100%;
    top: 5196px;
    background: linear-gradient(98deg, rgba(0,0,163,1) 45%, rgba(0,0,255,1) 100%);
}
.boton_episodios{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    width: 288px;
    height: 48px;
    margin-bottom: 24px;
    background: #00F3BB;
    border:none;
}
.boton_episodios:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    width: 288px;
    height: 48px;
    margin-bottom: 24px;
    color: white;
    background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
    border:none;
}
.title_novedades{
    color: #FFFFFF;
    width: 288px;
    height: 126px;
    justify-content: center;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 36px;
    margin-left: 0;
}
.triangulo{
    position: absolute;
    width: 100%;
    height: 12%;  
}

/*footer*/
.container_footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 121px;
    width: 100%;
    top: 5537px;
}
.container_redes{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 305px;
    height: 28px;
    margin-top: 62px;
}
.copyright{
    font-family: 'IBM Plex Mono', monospace;
    color: #060A24;
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 227px;
    height: 22px;
    position: absolute;
}
.fab{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #060A24;
    font-size: 16px;
    line-height: 28px;
    width: 16px;
    height: 28px;
}

@media (min-width: 760px){
    .navbar{
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .logo{
        width: 36px;
        height: 36px;
        padding: 0;
        margin-left: 100px;
        margin-top: 22px;
    }
    .open-close{
        display: none;
    }
    .navbar-container{
        height: 80px;
        flex-direction: row;
        position: static;
        width: 40%;
        display: flex;
        align-items: center;
        padding-right: 50px;
        background: white;
    }
    .navbar-link{
        color: #060A24;
        font-size: 16px;
    }
    /*title header*/
    .title{
        display: grid;
        grid-template-columns: 200px 360px auto;
        grid-template-rows: 120px 84px 48px 56px 56px 5px;
        grid-template-areas: 
        ". . ."
        ". hello-world palebd"
        ". texto_titular_pc texto_titular_pc"
        ". . ."
        ". boton_conocemas . "
        ". . .";
    }
    .hello-world{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-area: hello-world;
    
    }
    .palebd{
        grid-area: palebd;
        display: grid;
        grid-template-columns: 380px 5px;
        grid-template-rows: auto;
    }
    .boton_conocemas{
        grid-area:  boton_conocemas;
    }
    h1{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 64px;
        line-height: 84px;
        color: #060A24;
        padding: 0;
    }
    .hello-world{
        height: 84px;
        width: 331px;
    }
    .cross{
        margin-left: 20px;
    }
  
    .dot{
        color:#0000EC;
    }
    .palebd_mobil{
        display: none;
    }
    .texto_titular{
        display: none;
    }
    .texto_titular_pc{
        display: grid;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        width: 628px;
        height: 48px;
        line-height: 24px;
        grid-area: texto_titular_pc;
    }
       
    .boton_conocemas{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        width: 226px;
        height: 56px;
        background-color: #00F3BB;
        color: #060A24;
        left: 200px;
        top: 388px;
        border:none;
    }

    .boton_conocemas:hover {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        width: 226px;
        height: 56px;
        left: 200px;
        top: 388px;
        color: white;
        background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);;
       
    }
    /*episodios*/

    .container_episodios{
        top: 449px;
        height: 1042.6px;
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .skew{
        position: absolute;
        display: flex;
        flex-direction: row;
        transform-origin: top left;
        margin-top: 170px;
        transform: skewY(-7deg);
        width: 100%;
        z-index: -2;
        height: 83.5%;
        background-image: linear-gradient(98deg, rgba(0,0,163,1) 45%, rgba(0,0,255,1) 100%);
    }
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: normal;
        font-size: 48px;
        line-height: 62px;
    }
    main section .container_episodios h2{
        color: #FFFFFF;
        width: 209px;
        height: 62px;
        top: 186px;
        bottom: 26px;
        margin-left: 200px;
        position: absolute;
    }
  
    .episodios_iframe{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .if1,
    .if2{
        display: flex;
        margin-top: 274px;
        margin-bottom: 72px;
    }
    
    .if3,
    .if4{
        display: flex;
        margin-bottom: 232px;
    }

    /* sección nosotros*/

    .container_nosotros{
        top: 1492px;
        display: grid;
        position: absolute;
        height: 555.4px;
        width: 100%;
        grid-template-columns: 200px 457.6px 62.4px 464px 1fr;
        grid-template-rows:  106.4px 385px 64px;
        grid-template-areas: 
        ". imgphone . title_nosotros ."
        ". imgphone . texto_nosotros ."
        ". . . . .";
    }
    .imgphone{
        display: grid;
        grid-area: imgphone;
        width: 457.6px;
        height: 660px;
        margin-top: -180px;
    }
    .title_nosotros{
        display: grid;
        grid-area: title_nosotros;
        color: #060A24;
        width: 399px;
        height: 62px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: normal;
        font-size: 48px;
        line-height: 62px;
    }
    .texto_nosotros{
        display: grid;
        grid-area: texto_nosotros;
        font-size: 16px;
        width: 464px;
        height: 204px;
        line-height: 24px;
    }

    /* sección entrevistas*/

    .container_entevistas{
        display: grid;
        position: absolute;
        top: 2047px;
        height: 555.4px;
        width: 100%;
        grid-template-columns: 433.5px 433.5px 433.5px;
        grid-template-rows:  98px 364px 364px;
        grid-template-areas: 
        "title_entrevistas title_entrevistas . "
        "img1 img2 img3 "
        "img4 img5 img6 ";
    }

    .img{
        display: grid;
        height: 364.5px;
        width: 480px;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }

    .title_entrevistas{
        display: grid;
        color: #060A24;
        width: 481px;
        height: 62px;
        margin-left: 200px;
        grid-area: title_entrevistas;
    }

    /*topicos*/
    .container_topicos{
        position: absolute;
        display: grid;
        width: 100%;
        height: 426px;
        top: 2873px;
        grid-template-columns: 200px repeat(4, 250px) 1fr;
        grid-template-rows:  64px 62px 56px 130px 16px 64px 34px;
        grid-template-areas: 
        ". . . . . ."
        ". title-topicos title-topicos title-topicos . ."
        ". . . . . ."
        ". icon1 icon2 icon3 icon4 ."
        ". . . . . ."
        ". temas1 temas2 temas3 temas4 ."
        ". . . . . .";
    }
    .title_topicos{
        display: grid;
        color: #060A24;
        width: 586px;
        height: 62px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        grid-area: title-topicos;
    }
    main .container_topicos h3{
        display: grid;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #060A24;
    }

    .temas{
        display: grid;
        width: 100%;
        height: 32px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .icon{
        display: grid;
        margin-left: 0;
        width: 104px;
        height: 104px;
        margin-left: 0;
        margin-right: 0;
    }
    .temas1{
        grid-area: temas1;
        width: 220px;
        height: 32px;
        align-self: center;
        justify-self: center;
    }
    .temas2{
        grid-area: temas2;
        width: 220px;
        height: 64px;
        align-self: center;
        justify-self: center;
    }
    .temas3{
        grid-area: temas3;
        width: 220px;
        height: 32px;
        align-self: center;
        justify-self: center;
    }
    .temas4{
        grid-area: temas4;
        width: 220px;
        height: 64px;
        align-self: center;
        justify-self: center;
    }
    .icon1{
        grid-area: icon1;
        align-self: center;
        justify-self: center;
    }
    .icon2{
        grid-area: icon2;
        align-self: center;
        justify-self: center;
    }
    .icon3{
        grid-area: icon3;
        align-self: center;
        justify-self: center;
    }
    .icon4{
        grid-area: icon4;
        align-self: center;
        justify-self: center;
    }
    
   /*sección conoce más*/
    .container_novedades{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 518px;
        width: 100%;
        top: 3299px;
        background: linear-gradient(98deg, rgba(0,0,163,1) 45%, rgba(0,0,255,1) 100%);
    }
    .boton_episodios{
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        font-size: 18px;
        width: 288px;
        height: 48px;
        margin-bottom: 24px;
        background: #00F3BB;
        border:none;
    }
    .boton_episodios:hover {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 600;
        font-size: 18px;
        width: 288px;
        height: 48px;
        margin-bottom: 24px;
        color: white;
        background: linear-gradient(90deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
        border:none;
    }
    .title_novedades{
        color: #FFFFFF;
        width: 692px;
        height: 62px;
        justify-content: center;
        text-align: center;
        margin-top: 213px;
        margin-bottom: 36px;
        margin-left: 0;
    }
    .triangulo{
        position: absolute;
        width: 100%;
        height: 30%;  
    }
    /*footer*/
    .container_footer{
        display: grid;
        position: absolute;
        height: 95px;
        width: 100%;
        top: 3817px;
        grid-template-columns: 100px 275px 1fr 275px 100px;
        grid-template-rows: 95px;
        grid-template-areas: 
        ". copyright . container_redes .";
    }
    .container_redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 235px;
        height: 28px;
        margin-top: 0;
        grid-area: container_redes;
    }
    .copyright{
        font-family: 'IBM Plex Mono', monospace;
        color: #060A24;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
        margin-top: 0;
        width: 275px;
        height: 28px;
        grid-area: copyright;
    }
    .fab{ 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #060A24;
        font-size: 18px;
        line-height: 28px;
        width: 18px;
        height: 28px;
    }
}


